body {
  background: rgb(243, 248, 253);
  padding: 0px auto 0px auto;
}
h1 {
  text-align: center;
  color: #1878f3;
  font-family: "klavika", sans-serif;
  font-size: 35px;
}
#next {
  text-align: center;
  font-size: 18px;
  font-family: "klavika", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
justify-content: space-around;

}
input {
  width: 80%;
  margin-left: 30px;
  border-radius: 5px;
  border: solid 1px grey;
  height: 28px;
  font-size: 12px;
  padding-left: 10px;
}
.div2 {
  background: white;
  width: 330px;
  align-self: center;
  box-shadow: 0 2px 2px grey;
  height: 220px;
  padding: 20px;
}

.BTN1 {
  width: 83%;
  margin: 12px 30px;
  background: #1878f3;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
#input2 {
  margin-top: 10px;
}
.forgot {
  text-align: center;
  font-size: 11px;
  color: #1878f3;
}
.BTN2 {
  width: 45%;
  height: 38px;
  margin-left: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(36, 181, 36);
  border: none;
  color: white;
  border-radius: 5px;
}
#last {
  font-size: 13px;
  text-align: center;
}
hr {
  border: solid 1px lightgrey;
}
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    padding-top: 80px;
    /* padding-left: 30px; */
  }
  .div1 {
    align-self: center;
    flex-grow: 0.2;
  }
  .div2 {
    align-self: center;
    margin-left: 10px;
    
  }
}
@media screen and (min-width: 1024px)

{
.container{
    /* padding-left: 120px; */
}
}